.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.popup h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #000;
  font-weight: bold;
}

.formGroup {
  margin-bottom: 20px;
  text-align: left;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #f9f9f9;
  box-sizing: border-box;
}
.formGroup .price {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #000;
  align-item: center;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.proceedBtn {
  padding: 12px 20px;
  background-color: #02823a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.proceedBtn:hover {
  background-color: #026b2e;
}

.closeBtn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.closeBtn:hover {
  background-color: #999;
}

.popupCloseIcon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #999;
}

.popupCloseIcon:hover {
  color: #666;
}
