.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
  }
  
  .imageContainer {
    width: 100%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:first-of-type {
    left: 0;
  }
  
  .button:last-of-type {
    right: 0;
  }
  